extends layout

block content
    div(class='tray' id='tray')
        div(class='well' class='red')
        div(class='well' class='orange')
        div(class='well' class='yellow')
        div(class='well' class='green')
        div(class='well' class='blue')

    canvas(class='wboard' id='wboard' height=1024 width=1024) Sorry, your browser does not support the <code>&lt;canvas&gt;</code> tag
