extends layout

block content
    script(type='text/javascript' src='javascripts/bundle.js')
    div(class='tray' id='tray')
    canvas(class='wboard' id='wboard' height=1024 width=1024) Sorry, your browser does not support the <code>&lt;canvas&gt;</code> tag
