* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  white-space: nowrap;
  background: #eee url("../images/clouds.png") no-repeat center center fixed;
  background-size: cover;
}
div.well {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
div.container {
  height: 1024px;
  width: 1024px;
  margin: 0 auto;
}
div.tray {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  width: 320px;
  margin: 0 auto;
  padding: 10px;
}
canvas.wboard {
  width: 1024px;
  height: 1024px;
  border: 3px dashed #707070;
  display: inline-block;
  background: #eee url("../images/p6.png") repeat;
}
