boardColor = #eee
bodyColor = #707070

*
    box-sizing border-box
    &:before, &:after
        box-sizing border-box
body
    padding 0
    height 100%
    margin 0
    white-space nowrap
    background #eee url('../images/clouds.png') no-repeat center center fixed
    background-size cover
div.well
    display inline-block
    width 32px
    height 32px
    border-radius 16px
    &.clicked:after
        content ''
        width 48px
        height 48px
        top -8px
        left -8px
        display block
        border-radius 24px
        position relative
        border 4px solid #707070
div.container
    height 1024px
    width 1024px
    margin 20px auto
div.tray
    position absolute
    text-align center
    left 0
    right 0
    top 30px
    width 320px
    margin 0 auto
    padding 10px
canvas.wboard
    cursor crosshair
    width 1024px
    height 1024px
    border 3px dashed #707070
    display inline-block
    background boardColor url('../images/p6.png') repeat
